
body {
    font-family: "Corbel";
    background-color:#b4dff5;
    text-align: center;
}

/* Tekst na stronie głównej */
p{
    color:#000000;
    font-family: "Corbel";
    font-size: 22px;
    font-style: italic;
    margin: 30px 100px 100px 50px;
}

/* Tekst powitalny na stronie głównej */
h1 {
    font-family: Arial;
    text-align:center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #f98643;
    text-transform: uppercase;
    font-size: 32px;
}

/* Tekst duży na stronie kontaktowej */
h2 {
  font-family: 'Arial', bold;
  text-align: left;
  color:#f98643;
  text-transform: uppercase;
  text-shadow: 2px 2px #ffffff;
  text-decoration: underline;
  font-size: 32px;
}

/* Tekst danych na stronie kontaktowej */
h3{
  color:#555;
  text-align: left;
  font-family: "Arial";
  font-size: 27px;
}

img {
    margin: 60 px 0 30px 0;
}

a {
    font-family: "Corbel";
    font-size: 20px;
    color: #f98643; 
  }

input {
  width: 200px;
  height: 50px;
  margin: 20px;
  border: outset;
  border-radius: 30px;
  font-family: "Corbel", sans-serif;
  text-align: center;
  font-size: 28px;
}
  
.inputs {  
  float: left;
  display: inline;
}

/* Okienko nawigacyjne z podstronami */
.navbar {
    width: 30%;
    background-color: #555;
    margin: 20px auto 0 auto;
  }
  
  .navbar a {
    float: inline-start;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%; 
    text-align: center; 
  }
 
  .navbar a:hover {
    background-color: #462805;
  }
  
  .navbar a.active {
    background-color: #f98643;
  }
  
