<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="#">Strona główna</a>
            <a href="index.html">Wykresy</a>
            <a href="funkcja.html">O autorach</a>
          </div>
        <br>
    
    <p> Tu jest tekst o autorach. </p>   
    </body>
</html>
