<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='images/img1.jpg')}}">

        <div class="navbar">

            <a class="active" href="#">Strona główna</a>
            <a href="funkcja">Funkcja</a>
            <a href="autorzy">O autorach</a>
          </div>
        <br>
    <hr>
    <h1><marquee>Witamy na naszej stronie!</marquee></h1>
    <p> Bla wugf34qnycunf4g6 v4lcsylcflk3 fxatgb3 t,kderhtt
        yxbtbkytl34uv ewrg43ut3 
    </p>   
    </body>
</html>
